
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/HomeLayout.cshtml";
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css" />
}

<div class="container-fluid" style="margin-bottom: 10px;">
    <div class="row-banner" style="width: 100%; height: 100%; overflow: hidden;">
        <div id="carouselExampleIndicators" class="carousel slide" style="width: 100%;">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/Content/img/anhnen1.png" style="width= 100%;" class="d-block w-100" alt="Firt slide">
                </div>
                <div class="carousel-item">
                    <img src="~/Content/img/anhnen2.png" style="width = 100%;" class="d-block w-100" alt="Second slide">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<a href="~/Views/Shared/_Layout.cshtml">~/Views/Shared/_Layout.cshtml</a>